#header{

float: center;
margin: 0px;
padding: 12px 0px;
color: #80c4ff;
letter-spacing:-2px;
background-size: contain;
width: 100%;
height: 36px;
font-size: 36px;
line-height: 36px;
}

body {
font-family: 'Times New Roman',ワープロ明朝,ＭＳ 明朝,sans-serif;
font-size: 20px;
  background: #f0f8ff;
  line-height:19px;
  letter-spacing:1px;
  box-sizing: border-box;
}
.box {
    width: 80%;
    height: 60%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid black;
    overflow-y: scroll;
}
.box p {
    font-size: 20px;
    line-height: 1.8;
}

#container{
 max-width:100%; 
 height:100%;
  position : relative;
}

@media (min-width: 576px) {
  .container { 
      max-width: 540px;
  }
}
 
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
 
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
 
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

#content {
background-color: #f0f8ff;//silver
max-width: 100%;
overflow: hidden;
}

#side{
  font-size: 30px;
  position : absolute;
  top:0;
  left:0;
  letter-spacing:-2px;
  line-height:50px;
  color: #80c4ff;
  width: 200px;
  height: 100%;
  background: #80c4ff;
  word-wrap: break-word;
}

#main{
  margin-left:200px;
  max-width: 100%;
  height:100%;
  background: #f0f8ff;
  line-height:19px;
  letter-spacing:1px;
}

body p {
  line-height: 1.8;
}

body h1 {
  font-size: 36px;
  margin: 0 0 30px;
  padding: 10px;
  font-weight: bold;
}


dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
dl dt {
padding-left:30 px
  text-align: right;
  width: 8.5em;
  padding: 0.5em 1.0em 0.5em 0.5em;
  position: relative;
}
dl dt2 {
padding-left:30 px
  text-align: right;
  width: 8.5em;
  padding: 0.5em 1.0em 0.5em 0.5em;
  position: relative;
}

dl dt3 {
padding-left:30 px
  text-align: right;
  width: 8.5em;
  padding: 0.5em 1.0em 0.5em 0.5em;
  position: relative;
}

dl dt::after {
  content: ' Live/Ivent';
  position: absolute;
  right: -0.55em;
  top: 10px;
  font-size: 22px;
  color: blue;
}
dl dt2::after {
  content: ' Album/EP';
  position: absolute;
  right: -0.55em;
  top: 10px;
  font-size: 22px;
  color: green;
}

dl dt3::after {
  content: ' Demo';
  position: absolute;
  right: -0.55em;
  top: 10px;
  font-size: 22px;
  color: red;
}

dl dd {
  width: calc(100% - 8.5em);
  padding: 0.5em 2.0em 3.0em;
  border-left: 2px solid #ccc;
}

dl dd h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 5px;
}

.blank_space{
display:inline-block;
width:20px;
}
#footer{
    position: absolute;/*←絶対位置*/
    bottom: -60px; /*下に固定*/
    text-align: center;
    margin: 0px;
    background-color: #80c4ff;
    width: 100%;
    color: #ffffff;
    padding: 12px 0px;
    height: 35px;
    font-size: 18px;
    letter-spacing:2px;
    vertical-align: top;  
    line-height:8px;
}


a {
  text-decoration: none;
}
a:visited{
  color: #ffffff;
}
a:link{
  color: #006dcc;
}

a.blue:link{
  color: #0070ff;
}
a.blue:visited{
  color: #0070ff;
}a.none:link{
  color: #000000;
}
a.blue:visited{
  none: #000000;
}